#fcPost {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

.fcPostInput {
  width: 85%;
}

#fcPostFileInput {
  display: none;
}

.fcpIcons {
  width: 2rem;
  cursor: pointer;
  margin: 0 .3rem;
}