.fpost {
  display: flex; 
  flex-direction: row;
  margin: 5em 0;
}

.feedPostContent {
  min-width: 700px;
  min-height: 200px;
  max-width: 705px;
  max-height: 800px;
  height: 70%;
  background-image: linear-gradient(to bottom right, #EBEBEB, #FAFAFA);
  border: #D6D9DC 2px solid;
  display: flex;
  justify-content: center;
}

.feedHoverOptions {
  min-width: 700px;
  min-height: 200px;
  max-width: 705px;
  max-height: 800px;
  height: 70%;
  background-image: linear-gradient(to right, #000000, #fafafa00);
  border: #D6D9DC 2px solid;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  display: none;
}

.feedHoverOptions:hover {
  display: block;
}

.fpName {
  margin: 0.5rem auto 0 auto;
}

.fpLoc {
  margin: 0;
  color: #848484;
}

.feedPostContentText {
  display: inherit;
  margin: auto;
  padding: 1rem;
}

.feedPostContentPhoto {
  display: inherit;
  margin: auto;
}

.feedPostContentPictureElement {
  padding: 0rem;
  width: 100%;
  height: auto;
}

.feedPostProfilePic {
  border-radius: 50%;
  width: 68px;
  height: 68px;
}