#feedLoader {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: fit-content;
}

#feedCat {
  margin: auto;
}

.feedDivs {
  margin: .15rem;
}

.feedDivLeft {
  width: 100px;
  text-align: center;
}

.feedDivRight {
  min-width: 80%;
  height: auto;
  margin: auto;
}