#forgotContainer {
  background-color: #fff;
  background: url(../img/memphis-colorful.png);
  height: 100vh;
  width: 100%;
  margin-top: 0;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

#forgotForm {
  background: #fff;
  max-width: 500px;
  border: 1px solid #000;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.43); 
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.43);
  z-index: 100;
  padding: 3rem;
}

#forgotForm p {
  margin: 1.5rem auto 3rem auto;
}

#forgotForm input {
  height: 1.5rem;
  width: auto;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
}

#forgotForm button {
  margin: auto 1rem 1rem 1rem;
  padding: .5rem;
}