.homeWindow {
  /* background-color: #626c72; */
  background-color: #fdfdfd;
  z-index: -2;
}

.homeWindow2 {
  display: flex;
  flex-direction: column;
}

#homeLeft {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  height: 100vh;
  width: 40%;
  background-color: #fdfdfd;
  z-index: 100;
  box-shadow: 0 19px 38px; 
}

#homeLeft h1 {
  text-align: center;
}

#homeRight {
  position: absolute;
  right: 0;
  height: 100vh;
  width: initial;
  background-color: teal;
}

#sideImage {
  height: 100vh;
  width: auto;
  position: absolute;
  right: 0;
}