#sidebarContainer {
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
}

#sidebarTableUsername {
  font-weight: bold;
}

#sidebarPic {
  width: 23px;
  height: 23px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

#sidebarTable td {
  margin: 0;
}

.sidebarTableIcons {
  margin-left: 1rem;
}

.sidebarTableLabels {
  padding-left: .5rem;
}

.sbTL {
  margin: .1rem auto;
}